/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    margin: 5rem 2rem 0 2rem;
}

.underline {
    height: .2rem;
    width: 100px;
    background-color: #645cff;
    margin: .2rem auto;
}

.products-container {
    width: 90vw;
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.product-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    display: block;
    border-radius: 3px;
}

footer {
    margin: .6rem;
}

.title {
    color: #64748b;
    letter-spacing: 2px;
}

.price {
    display: block;
    margin-top: .2rem;
    font-weight: bold;
}

@media screen and (min-width:768px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media screen and (min-width:992px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.btn {
    margin: 3rem auto;
    display: block;
    background-color: #645cff;
    border: none;
    padding: .5rem .8rem;
    border-radius: 3px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
}

.single-product-container {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    max-width: 900px;
}

.single-product-footer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.single-product-img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.link {
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media screen and (min-width:700px) {
    .single-product-container {
        grid-template-columns: 1fr 1fr;
    }

    .single-product-img {
        height: 100%;
    }
}